/* selector universal para que se aplique a todos los elementos */
*   {
     /*propiedad para que se respete el ancho definido */
      box-sizing: border-box;

     /* margin arriba externo y paddings internos, los cuales se aplicarán
     a todos los bloques */
      margin-top: 4px;
      padding-top: 2px;
      padding-right: 5px;
      padding-left: 5px;
      padding-bottom: 2px;
    }

     /* utilizo el selector de las etiquetas h2, h3, h1 para en cada caso
        establecer su fondo, su tamaño y color de letra */
    h2  {
          background:  #FFBA33;
          font-size: 90%;
          color:  #4F4D48;
        }

    h3  {
          background: #32302D;
          color: white;
          font-size: 80%;
        }

    h1  {
          background: #FFC833;
          font-size: 90%;
          color:  #4F4D48;
        }

    /* utilizo el selector de div contenedor para establecer la altura y el
    tipo de display, en este caso tipo block, esto se aplica a todos los div */

    div {
          height: 95px;
          display:block;
        }
